* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body 
{
  line-height: 1.6;
  color: #333;
}

.container 
{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header 
{
  background: #0a4b78;
  padding: 15px 0;
}

.logo 
{
  color: #fff;
}

.nav a 
{
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.hero 
{
  background: #eaf4fb;
  padding: 50px 0;
}

.hero-content 
{
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero img 
{
  width: 45%;
  border-radius: 10px;
}

.btn-primary 
{
  padding: 10px 20px;
  background: #0a4b78;
  color: #fff;
  border: none;
  cursor: pointer;
}

.services, .why-choose, .testimonials, .faq, .about, .contact 
{
  padding: 50px 0;
}

#chooseimg 
{
  width: 350px;   
  max-width: 100%;
  height: auto;     
  display: block;
  margin: 30px auto;
}

.steps
{
  padding: 50px 0;
}

#stepsimg 
{
  width: 350px;   
  max-width: 100%;
  height: auto;     
  display: block;
  margin: 30px auto;
}

.service-list 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-card 
{
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.service-card img 
{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.testimonial-card 
{
  background: #f2f2f2;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

.testimonial-card img 
{
  width: 60px;
  border-radius: 50%;
}

.why-choose img,
.steps img,
{
  width: 50%;
  margin: 20px 0;
  border-radius: 10px;
}
.faq img,
.about img 
{
  width: 20%;
  margin: 20px 0;
  border-radius: 10px;
}

.contact-form 
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input 
{
  padding: 10px;
}

.footer 
{
  background: #0a4b78;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
